/* #COMPONENT - INPUT */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input {
	appearance: none;
	width: 100%;
	font-size: 28px;
	padding-right: 1rem;
	border: 0;
}
input:focus {
	outline: 0;
}
input::placeholder {
	color: $BLACK;
}
.input {
	width: 100%;
	border-radius: 20px;
	background: $WHITE;
	border: 1px solid $GREY_LIGHT;
}
.input:hover {
	border: 1px solid $GREY_DARK;
}
.input__container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
