/* #COMPONENT - INDICATOR */
.indicator {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	animation: bounce 2s infinite ease-in-out;
	animation-fill-mode: both;
	background-color: #2ecc71;
}
@keyframes bounce {
	0%,
	80%,
	100% {
		transform: scale(0.8);
	}
	40% {
		transform: scale(1);
	}
}
