/* #COMPONENT - DATA CARD */
.data-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}
.data-card p,
.data-card h5 {
	color: $GREY_DARK;
	font-weight: 600;
}
.data-card h5 {
	font-family: $FONT_BODY;
	font-size: $BODY_TEXT;
	margin-top: 0.3rem;
}
.data-card p {
	margin-bottom: 0.2rem;
}
.data-card sup {
	font-family: $FONT_BODY;
	font-weight: 600;
	top: -0.8em;
	position: relative;
	font-size: 13px;
	margin-left: 0.3rem;
}
.data-card .btn {
	align-self: flex-start;
}
.data-card__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding: 0 1rem;
}
.data-card__header h3 {
	position: relative;
}
.data-card__header h3:after {
	content: "";
	position: absolute;
	top: 10px;
	right: -25px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	animation: bounce 2s infinite ease-in-out;
	animation-fill-mode: both;
	background-color: #2ecc71;
}
.data-card__header h5 {
	font-size: 0.9rem;
	text-transform: uppercase;
	margin-bottom: 0;
}
.data-card__header h5 span {
	color: $GREY_DARKER;
}
@keyframes bounce {
	0%,
	80%,
	100% {
		transform: scale(0.8);
	}
	40% {
		transform: scale(1);
	}
}
