/* #COMPONENT - NAV */
.nav {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}
.nav li,
.nav a {
	line-height: 2.75rem;
}
.nav a,
.nav svg {
	transition: 0.3s ease;
}
.nav a {
	font-family: $FONT_HEADING;
	color: $GREY_RGBA;
	text-decoration: none;
	display: block;
}
.nav a:hover {
	color: $WHITE;
}
.nav a:hover svg {
	fill: $WHITE;
}
.nav a svg {
	fill: $GREY_RGBA;
	height: 12px;
	margin-left: 5px;
}
.nav .nuxt-link-exact-active {
	color: $WHITE;
	font-weight: 600;
}
