/* #COMPONENT - LOADER */
.loader {
	width: auto;
	background: $GREY_RGBA;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}
.loader:before {
	content: "";
	animation: loading 1s infinite;
	animation-timing-function: ease-in-out;
	background-image: linear-gradient(
		to left,
		rgba(251, 251, 251, 0.1),
		rgba(251, 251, 251, 0.2),
		rgba(251, 251, 251, 0.3),
		rgba(251, 251, 251, 0.2),
		rgba(251, 251, 251, 0.1)
	);
	position: absolute;
	left: 0;
	transform: translateX(-150%);
	height: 100%;
	width: 50%;
}
@keyframes loading {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(200%);
	}
}
.loader--default {
	height: 24px;
}
.loader--data-card-header {
	height: 33px;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.loader--data-card {
	height: 116px;
	margin-left: 1rem;
	margin-right: 1rem;
}
.loader--burn-card {
	height: 167px;
	margin-top: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
