/* #COMPONENT - DATA CARD */
.data-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}
.data-card p,
.data-card h5 {
	color: $GREY_DARK;
	font-weight: 600;
}
.data-card h5 {
	font-family: $FONT_BODY;
	font-size: $BODY_TEXT;
	margin-top: 0.3rem;
}
.data-card p {
	margin-bottom: 0.2rem;
}
.data-card sup {
	font-family: $FONT_BODY;
	font-weight: 600;
	top: -0.8em;
	position: relative;
	font-size: 13px;
	margin-left: 0.3rem;
}
.data-card .btn {
	align-self: flex-start;
}
