/* #LAYOUT - UTILITIES */
.u-w-24 {
	width: 24.59px;
}
.u-w-59 {
	width: 59.64px;
}
.u-w-64 {
	width: 64.83px;
}
.u-w-65 {
	width: 65.97px;
}
.u-w-68 {
	width: 68.89px;
}
.u-w-90 {
	width: calc(90.42px - 0.3rem);
	margin-left: 0.3rem;
}
.u-w-95 {
	width: calc(95.83px - 0.3rem);
	margin-left: 0.3rem;
}
.u-h-33 {
	height: 33.16px;
}
