/* #LAYOUT - ERROR */
.l-error-container {
	background: $GREY_LIGHT;
	border-radius: 10px;
	padding: 3rem 6rem;
	margin-top: 1rem;
	text-align: center;
}
.l-error-container h3 {
	margin-bottom: 1rem;
}
