/* #SETTINGS - COLOURS */
$WHITE: #ffffff;
$BLACK: #191b1f;
$BLACK_LIGHT: #2c2f36;
$BLACK_LIGHTER: #40444f;
$BLACK_OPACITY: rgba(0, 0, 0, 0.5);
$GREY: #c3c5cb;
$GREY_LIGHT: #f1f3f7;
$GREY_DARK: #9e9db3;
$GREY_DARKER: #aba8bd;
$TRANSPARENT: transparent;

$TEAL: #2c7c7d;
$TEAL_DARK: #2c7a7b;
$TEAL_DARKER: #285e61;

$RED: #e74c3c;
