/* #SETTINGS - FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

$HEADING_ONE: 2.488rem;
$HEADING_TWO: 2.074rem;
$HEADING_THREE: 1.728rem;
$HEADING_FOUR: 1.44rem;
$HEADING_FIVE: 1.2rem;
$BODY_TEXT: 1rem;
$BODY_TEXT_SM: 0.8rem;

$FONT_BODY: "Nunito Sans", sans-serif;
$FONT_HEADING: "Inter", sans-serif;
