/* #SETTINGS - COMMON */
$BOX_SHADOW_FOCUS: rgba(66, 153, 225, 0.6) 0px 0px 0px 3px;
$BOX_SHADOW_DEFAULT: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
	rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
$BOX_SHADOW_MODAL: rgb(0 0 0 / 5%) 0px 4px 8px 0px;
